ul li div q i a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

li{
  list-style: none outside none;
}

#change-speed{
  position: absolute;
  bottom: 50%;
  right: 30px;
  width: 70px;
  height: 300px;
  /* transform: scale(0, -50%); */
  flex: 1;
  order: 3;
  cursor: pointer;
  background: 0 0;
  text-align: center;
  color: hsla(0,0%,100%,.8);
  fill: hsla(0,0%,100%,.9);
  /* font-size: 0; */
  align-items: flex-start;
  z-index: 99999;
}

.player-video-btn-speed-menu-list {
  position: relative;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}

.moxun-player-active {
  color: #00a1d6;
}

.moxun-player-video-btn-speed-name {
  font-size: 16px!important;
  font-weight: 600;
  background: rgba(131, 131, 131, 0.4);
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 6px rgba(80, 156, 207, 0.5);
  border-radius: 3px;
  padding: 0;
  outline: none;
  color: #57bddf;
  text-align: inherit;
  font: inherit;
  line-height: inherit;
  height: 30px;
  width: 100%;
}

.bilibili-player-video-btn-speed-menu-wrap{
  /* position: absolute; */
  /* bottom: 50px; */
  /* left: 0px; */
  width: 70px;
  font-size: 14px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background: rgba(21,21,21,.5);
  border-radius: 2px;
  opacity: 1;
  visibility: visible;
}

ul.moxun-player-video-btn-speed-menu{
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

li.bilibili-player-video-btn-speed-menu-list{
  position: relative;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}

li.bilibili-player-video-btn-speed-menu-list:hover{
  background: rgba(0,0,0,0.2);
}